@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

:root {
  --background-main-color: #f8f1f1;
  --background-main-color-20: rgba(248, 241, 241, 0.2);
  --burger-color: rgb(248, 241, 241);
  --transparent-black-80: rgba(0, 0, 0, 0.8);
  --main-color: #009adf;
  --main-color-30: rgba(0, 152, 223, 0.3);
  --main-color-80: rgba(0, 152, 223, 0.8);
  --text-first-color: #f8f1f1;
  --text-second-color: #484646;
  --text-first-color-hover: #c6e6fc;
  --bar-bg-30: #0098df4d;
}
html,
body,
:root {
  @apply h-full;
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .re {
    display: flex;
    flex-direction: row;
  }
  .re:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .animate {
    display: flex;
    animation: scroll 100s linear infinite;
  }

  .animate-reversed {
    display: flex;
    animation: scroll 100s linear infinite;
    animation-direction: reverse;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translate(-100%);
    }
  }
  .navClipPath {
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .navClipPath2 {
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .sectionClipPath {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
  .contactClipPath {
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
    background-image: linear-gradient(to right, #009adf, #005379);
  }
  .mobileContactClipPath {
    clip-path: polygon(15% 0, 100% 0, 100% 95%, 85% 100%, 0 100%, 0 5%);
    background-image: linear-gradient(to right, #009adf, #005379);
  }
  .oppositeSectionClipPath {
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(to right, #009adf, #005379);
  }
  .divShadow {
    filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
  }
  .infoClipPath {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 90%);
  }
  .footerClipPath {
    clip-path: polygon(0 0%, 85% 0, 100% 45%, 100% 100%, 0 100%, 0% 50%);
  }
  .footerMobileClipPath {
    clip-path: polygon(0 0%, 80% 0, 100% 10%, 100% 100%, 0 100%, 0% 50%);
  }
  .shadowImage {
    filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.2));
  }
  .personelClipPath {
    clip-path: polygon(18% 0, 100% 0, 100% 74%, 81% 100%, 0 100%, 0 25%);
    background-image: linear-gradient(to right, #009adf, #005379);
  }
  .gradient {
    background-image: linear-gradient(to right, #009adf, #005379);
  }
}

body {
  overflow-x: hidden;
  background: var(--background-main-color);
}
